.feedback__section-title {
    margin-bottom: 95px;

    @include tablets {
        text-align: center;
        margin-bottom: 60px;
    }
}

.feedback__button {
    @include tablets {
        text-align: center;
    }
}