.hamburger__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
}

.hamburger__line {
    display: flex;
    height: 4px;
    border-radius: 2px;
    background-color: #464d62;
}