.hero {
    
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-49%, -48%);
    }
  
    &__scroll {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3%;
      @include tablets {
        display: none;
      }
    }
  }