.iconed-link {
    display: block;
    color: #586ed3;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.iconed-link__icon {
    width: 15px;
    height: 15px;
    fill: #586ed3;
    margin-right: 20px;
}

.iconed-link__ttext {
    display: inline-block;
}