.nav__list {
    display: flex;
    align-items: center;

    @include tablets {
        flex-wrap: wrap;
    }
}

.nav__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    @include desktop {
        margin-right: 40px;
    }

    @include tablets {
        margin-bottom: 30px;
    }
}

.nav__link {
    text-decoration: none;

    &:hover {
        color: #5500f2;
    }
}