.recommendation {
    background: url('~images/content/budda.jpg') no-repeat;
    background-size: cover;
}

.recommendation__container {
    padding-top: 220px;
    padding-bottom: 130px;

    @include phones {
        padding-top: 400px;
    }
}