.recommendation {
    background: url('~images/content/budda.jpg')0 no-repeat;
}

.recommendation__container {
    padding-top: 220px;
    padding-bottom: 130px;

    @include phones {
        padding-top: 400px;
    }
}