.reviews {
    margin-bottom: 200px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.reviews__section-title {
    margin-right: 120px;
}

.reviews-controls__arrow-down {
    width: 8px;
    height: 10px;
    fill: #414c63;
}

.reviews__icon-quote {
    width: 75px;
    height: 63px;
    fill: #464d62;
    opacity: .05;

    @include tablets {
    width: 30px;
    height: 26px;
    }
}