.reviews {
    margin-bottom: 200px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.reviews__section-title {
    margin-right: 120px;
}

.reviews-controls__arrow-down {
    width: 8px;
    height: 10px;
    fill: #414c63;
}