.skills-row__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.skills-row__list {
    display: flex;
}

.skills-row__item {
    position: relative;
    margin-right: 60px;
    text-align: center;
}