.skills-row__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.skills-row__list {
    display: flex;

    @include tablets {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.skills-row__item {
    position: relative;
    margin-right: 60px;
    text-align: center;

    @include desktop {
        margin-right: 30px;
    }

    @include tablets {
        margin-right: 15px;
    }
}