.slider__thumbnails {
    position: absolute;
    right: 0;
    bottom: 0;
}

.slider__controls {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.slider__arrow-down {
    width: 10px;
    height: 8px;
    fill: #5c6876;
}