.triangles {
    display: flex;
}

.triangles__margin-top {
    margin-top: -130px;

    @include tablets {
        margin-top: -50px;
    }
}

.triangles__margin-bottom {
    margin-bottom: -130px;

    @include tablets {
        margin-bottom: -50px;
    }
}

.triangles__item {
    width: 50%;
    display: block;
    height: 130px;
    fill: white;

    @include tablets {
        height: 50px;
    }
}