.triangles {
    display: flex;
}

.triangles__margin-top {
    margin-top: -130px;
}

.triangles__margin-bottom {
    margin-bottom: -130px;
}

.triangles__item {
    width: 50%;
    display: block;
    height: 130px;
    fill: white;
}