.user-info {
    text-align: center;
}
.user-info__desc {
    opacity: .4;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8;
}

.user-info__username {
    font-size: 72px;
    font-weight: 800;
    line-height: 1;
}