.works__title {
    margin-bottom: 90px;
}
.works__content {
    display: flex;
}

.works__left {
     width: 977px;
     margin-right: 150px;
}

.works__right {
    width: 341px;
}

.works__tags {
    display: flex;
}