header.header
  .container.header__container
    .header__info
      .user.user--admin-header
        .user__column
          img(src="~images/content/user.jpg").avatar.avatar--header
        .user__column
          .user__row.user__name Владимир Старов
      .header__title Панель администрирования
    .header__btn
      router-link(to="/" class="btn--exit") Выйти